<%- include('header') %> <%- include('transactions', {account; account}) %>

<div class="container">
  <h1><%= title %></h1>
  <a href="/profile">Profile</a>
  <br />
  <a href="/transfer">Transfer</a>
</div>

<%- include('summary', {account: accounts.saving}) %> <%- include('summary',
{account: accounts.checking}) %> <%- include('summary', {account:
accounts.credit}) %> <%- include('footer') %>
